img {
  display: block;
  height: auto;
  width: 100%;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} */

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

a {
  color: blue;
}

button:hover {
  cursor: pointer;
}

input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}

.container {
  padding: 15px;
}
